body {margin: 0;
    background-color: #d3d3d3;
    font-family: sans-serif;
}

footer{
    display: grid;
    align-content: center;
    text-align: center;
    font: 18px Calibri;
    color: white;
    background-color: #004723;
    min-height: 10em;
}

section{
    display: flex;
    flex-flow: row wrap;
    margin: 0% 5% 5% 5%;
    justify-content: space-between;
}

header{
    display: grid;
    align-content: center;
    background-color: #004723;
    color: white;
    height: 85px;
}

.header-format{
    background-color: #004723;
    color: white;   
}

.grid-body-title{
    display: grid;
    text-align: center;
    margin: auto auto 50px auto;
}

.contents-label{
    font-family: Ubuntu;
    font-size: 3em;
}
