@font-face{
    font-family: Streetvertising;
    src: "https://github.com/marvintensuan/marvintensuan.github.io/blob/gh-pages/fonts/streetvertising_public/Streetvertising%20Medium%20public.ttf";
}

body {margin: 0;
    background-color: #d3d3d3;
    font-family: sans-serif;
}

#grid-header-nav{
    display: grid;
    align-content: center;
    background-color: #004723;
    color: white;
    height: 85px;
}

#grid-header-logo{
    font: 36px Streetvertising;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 5%;
}

#grid-header-navlist{
    display: grid;
    grid-template-columns: auto 20% 20%;
    font: 1em Calibri;
    grid-column-start: 3;
    margin: 0px 10px 0px 10%;
}


.grid-footer{
    display: grid;
    align-content: center;
    text-align: center;
    font: 18px Calibri;
    color: white;
    background-color: #004723;
    min-height: 35%;
}
.grid-body-title{
    display: grid;
    text-align: center;
    margin-bottom: 50px;
}

.contents-default{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 5%;
    margin-bottom: 20px;
}
.contents-label{
    font-family: Ubuntu;
    font-size: 2.8em;
    margin: 0px 20px 0px 0px;
}