<div>
    <!--- Graduate: empty :( -->
    <!---Tertiary-->
    <h3>Bachelor of Science in Accountancy</h3>
    <p>Polytechnic University of the Philippines (June 2013 to October 2017)</p>
    <p>Extra and co-curricular activities:</p>
    <ul>
        <li>PWC M&A Challenge (2017)</li>
        <li>UP JPIA APEX Challenge (2017)</li>
        <li>NFJPIA-NCR 9th Annual Grand Summit (2016)</li>
        <li>SYNTHESIS (2016)</li>
        <li>COL-JAPI Stock Market Challenge (2015)</li>
        <li>Student Representative (2014)</li>
        <li>PUP JPIA Mathematics Competition (2013)</li>
    </ul>
    <!---Secondary-->
    <h3>Muntinlupa Science High School</h3>
    <p>(June 2009 to March 2013)</p>
    <ul>
        <li>Editor-in-Chief, Ang Matyag</li>
        <li>Finalist, Philippine Robotics Olympiad 2012</li>
        <li>Champion, 9th UP-ERG Dagitab Competition</li>
        <li>Outdoorsman, Boy Scouts of the Philippines</li>
    </ul>
    <!---Primary-->
    <h3>Itaas Elementary School</h3>
    <p>(June 2003 to March 2009)</p>
    <ul>
        <li>8<sup>th</sup> honorable mention</li>
        <li>Science News Editor, Rootlets</li>
        <li>Patrol Leader, Boy Scouts of the Philippines</li>
    </ul>   
</div>