<div class="body-contents">
    <h3>Deutsche Knowledge Services Pte. Ltd.</h3>
    <p></p>
    <h4>Senior Financial Analyst | FX Utility (October 2020 to present)</h4>
    <p></p>
    <h4>Financial Analyst | FX Management (June 2018 to September 2020)</h4>
    <p>        
        The FX Management team is mandated to hedge cost-related foreign currency transactions incurred from major Deutsche Bank branches across US, UK, and APAC. 
        <ul>
            <li>Process improvements through Excel VBA automations</li>
            <li>Cross-team process improvements through lean principles</li>
            <li>1x Employee of the Month, May 2020</li>
            <li>2x Spot Awardee</li>
            <li>1x Gold Medalist, Continuous Improvement Award</li>
        </ul>         
    </p>
</div>

